#side_bar{
	height: 100%;
	background-color:#56b6a0;
	width: 200px;
	margin-left: 50px;
	float:left;
}

.titulo{
	margin:0px;
	font-size: 25px;
	color:white;
	padding-top: 5%;
	padding-left: 17%;
}
.entrada{
	width: 130px;
	margin:10px 10%;
	margin-right: 0px;
	margin-bottom: 10px;
}
.text {
	margin:0px;
	color:white;
	padding-top: 90%;
	font-size: 18px;
	text-align: center;
}
.button{
	padding: 2px;
	background-color: #008080;
	color:white;
}
.buttons{
	width: 180px;
	margin:10px 10px;
	background-color: #008080;
	color:white;
}

#quadro{
	background-color:#56b6a0;
	position: relative;
	width: 600px;
	height: 600px;
	float:left;
	margin-left: 150px;
	margin-top:20px;
	padding:7.5px;
}

#quadro div{
height: 180px;
width: 180px;
background-color: #008080;
}

#quadro p{
text-align: center;
font-size: 120px;
color:white;
}

.q0{
	position:absolute;
	left:405px;
	top:405px;
}
.q1{
	position:absolute;
	left:15px;
	top:15px;
}
.q2{
	position:absolute;
	left:210px;
	top:15px;
}
.q3{
	position:absolute;
	left:405px;
	top:15px;
}
.q4{
	position:absolute;
	left:15px;
	top:210px;
}
.q5{
	position:absolute;
	left:210px;
	top:210px;
}
.q6{	
	position:absolute;
	left:405px;
	top:210px;
}
.q7{
	position:absolute;
	left:15px;
	top:405px;
}
.q8{
	position:absolute;
	left:210px;
	top:405px;
}



.nome{
	color:white;
	margin:8px 20px;
}

#quadrado{
	background-color:#56b6a0;
	position: relative;
	width:125px;
	height:150px;
	left: 87.5px;
	top:35px;

}

#formato{
	width:125px;
	height:170px;
}

#p1{
position: absolute;
width: 35px;
left:5px;
top:5px;
}

#p2{
position: absolute;
width: 35px;
left:45px;
top:5px;
}

#p3{
position: absolute;
width: 35px;
left:85px;
top:5px;
}

#p4{
position: absolute;
width: 35px;
left:5px;
top:45px;
}

#p5{
position: absolute;
width: 35px;
left:45px;
top:45px;
}

#p6{
position: absolute;
width: 35px;
left:85px;
top:45px;
}

#p7{
position: absolute;
width: 35px;
left:5px;
top:85px;
}

#p8{
position: absolute;
width: 35px;
left:45px;
top:85px;
}

#p9{
position: absolute;
width: 35px;
left:85px;
top:85px;
}
.retorno {
	position:absolute;
	top:125px;
	width: 70px;

	left:27.5;
}