<html>
	<head>
		<meta charset="utf-8">
		<title>Jogo dos 9 quadrados</title>
		<link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	</head>

	<body style="margin:0px; height: 100vh;">
		<div id="side_bar">
			<p class="titulo">Jogo dos 8</p>
			<p class="text">Embaralhar</p>
			<form>
				<input class="entrada" type="text" name="entrada" placeholder="Número de mov.">
				<button type="submit" class="btn button">✓</button>
			</form>
			<p class="text" style="padding-top: 25%;">Algoritmos</p>
			<button type="submit" class="btn buttons">Busca em Largura</button>
			<br>
			<button type="submit" class="btn buttons">Busca em Profundidade</button>
			<br>
			<button type="submit" class="btn buttons">Busca Estrela</button>
			<br>
			<button type="submit" class="btn buttons">Busca Gulosa</button>
			<br>
			<p class="text" style="padding-top: 25%;">Equipe:</p>
			<p class="nome">Kaio Rego</p>
			<p class="nome">Renato Almeida</p>
			<p class="nome">Walace Tales</p>
		</div>
		<div id="quadro">
			<div id="q1"><p>1</p></div>
			<div id="q2"><p>2</p></div>
			<div id="q3"><p>3</p></div>
			<div id="q4"><p>4</p></div>
			<div id="q5"><p>5</p></div>
			<div id="q6"><p>6</p></div>
			<div id="q7"><p>7</p></div>
			<div id="q8"><p>8</p></div>
			<div style="background-color: #7ec8b6;" id="q0"></div>
		</div>




	</body>
<script type="text/javascript">
	const KEY_RIGHT = 39, KEY_LEFT = 37;
	document.onkeypress=function(key){move(key)};
	var vet = ["q1","q2","q3","q4","q5","q6","q7","q8","q0"]
	var pos0 = 8;
	function move (movimento){
		var tecla = movimento.keyCode; 
		var branco = document.getElementById("q0")
		if ( tecla == KEY_RIGHT){
			swap_left(pos0)
		}
		if ( tecla == KEY_LEFT){

		}
		if ( tecla == KEY_UP){

		}
		if ( tecla == KEY_DOWN){

		}
	}

</script>
</html>

branco.style.left-=195
			q8.style.left+=195